<section class="phx-hero">
    <h2>Holaaaa</h2>
</section>

<div>
    <table>
        <tr>
            <th>Name</th>
        </tr>
    <%= for author <- @authors do %>
        <tr>
            <td><%= link author.author.name, to: "/stats/author/#{author.author.id}" %></td>
            <td><%= author.count_tuits %></td>
        </tr>
    <% end %>
    </table>
</div>
